<% if page_inbox.empty? %>
<div class="muted no-messages">
	No received messages
</div>
<% else %>
<div class="messages">
<% page_inbox.each do |message| %>
<%= render(:partial => "messages/message_item", :locals => {:message => message, :received => true, :active => !active_id.nil? && active_id.to_s == message.id.to_s }) %>
<% end %>
</div>

<% unless page_inbox == inbox %>
<% prev_class = "messages-paging prev btn btn-mini" %>
<% prev_class = [prev_class, "disabled"].join(" ") if from == 0 %>
<% next_class = "messages-paging next btn btn-mini" %>
<% next_class = [next_class, "disabled"].join(" ") if to == inbox.length - 1  %>
<div class="pagination">
	<div class="pull-right">
		<small class="muted"><%= "Showing #{from + 1} - #{to + 1} from #{inbox.length}" %></small>
		<%= link_to "#", :class => prev_class do %>
		<i class="icon-backward"></i>
		<% end %>
		<%= link_to "#", :class => next_class do %>
		<i class="icon-forward"></i>
		<% end %>
	</div>
</div>
<% end %>

<% end %>