<% if @receiver_id.blank? || @text.blank? %>
$("form.send-message").append($('<div class="text-error message"><small><%= I18n.t("messages.errors.invalid_fields") %></small></div>'));
<% else %>

<% if @result && @result[:status] %>
$("form.send-message").append($('<div class="text-success message"><small><%= I18n.t("messages.message_sent") %></small></div>'));
$("#text").val("");
<% else %>
<% error = @result ? @result[:text] : I18n.t("messages.errors.common_error") %>
var html = '<div class="text-error message"><small><%= error %></small></div>';
$("form.send-message").append($(html));
<% end %>

<% end %>

if($(".message").length > 0){
	setTimeout(function(){
		$(".message").fadeOut(2000, function(){});
	}, 2000);
}
