<div class="span12">
	<%= render :partial => "messages/messages_container" %>

	<div class="span4">
		Forma za slanje nove poruke ili aktuelna konverzacija
	</div>
	
	<div class="span2">
		Preporuke telefona
	</div>
</div>
