<div class="span12">
	<%= render :partial => "messages/messages_container" %>

	<div class="span4">
		Forma za slanje nove poruke ili aktuelna konverzacija
	</div>
	
	<div class="span2">
		<div class="row-fluid">
			<%= link_to new_message_path, :class => "btn btn-small btn-primary" do %>
			<i class="icon-plus-sign icon-white"></i> New message
			<% end %>
		</div>
	</div>
</div>
