<div class="span12">
	<%= render :partial => "messages/messages_container" %>

	<div class="span4">
		<%= render :partial => "messages/new" %>
	</div>
	
	<div class="span1">
		Preporuke telefona
	</div>
</div>
