if($("#send_message_loading").length > 0) $("#send_message_loading").remove();

<% if @receiver_id.blank? || @text.blank? %>
$("form.send-message").append($('<div class="text-error message"><small><%= I18n.t("messages.errors.invalid_fields") %></small></div>'));
<% else %>

<% if @result && @result[:status] %>
	var message_html = $("<%= escape_javascript(render(:partial => "messages/conversation_item", :locals => {:message => @message})) %>");
	$(".conversation").append(message_html);
	$("#text").val("");
<% else %>
	<% error = @result ? @result[:text] : I18n.t("messages.errors.common_error") %>
	var html = '<div class="text-error message"><small><%= error %></small></div>';
	$("form.send-message").append($(html));
<% end %>

<% end %>

if($(".message").length > 0){
	setTimeout(function(){
		$(".message").fadeOut(2000, function(){});
	}, 2000);
}
