<table class="table table-hover">
	<thead>
		<tr>
			<% attribute_fields.each do |field| %>
			<th><%= field.downcase.camelize %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% attributes.each do |attribute| %>
		<tr>
			<% attribute.each do |attr, value| %>
			<td><%= value %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
