<div class="row-fluid comment-item">
	<div class="span3 comment-metas">
		<%= link_to(comment.account.rolable.name, "/") %>
		<br/>
		<i class="icon-calendar"></i>
		<%= content_tag(:small, comment.created_at.strftime('%m/%d/%Y %H:%M')) %>
	</div>
	<div class="span7">
		<small><%= comment.text %></small>
	</div>
</div>