<div class="row-fluid">
	<div class="span3">
		<%= phone.render_image("80") %>
	</div>
	<div class="span7">
		<ul class="nav nav-pills nav-stacked">
			<% phone.attributes_for_display.each do |attr, value| %>
			<% label = attr.to_s == "camera" ? "Kamera" : I18n.t("mongoid.attributes.phone."+attr) %>
			<%= render :partial => "phones/phone_attribute_item", :locals => {:label => label, :value => value} %>
			<% end %>
		</ul>
	</div>
</div>
