<div class="comments-list">
	<% if phone_data.comments.empty? %>
	<p class="muted"><%= I18n.t("comments.no_comments_for_phone") %></p>
	<% else %>
	<% phone_data.comments.each do |comment| %>
	<%= render :partial => 'comments/comment_item', :locals => {:comment => comment} %>
	<% end %>
	<% end %>
</div>
<%= render :partial => "comments/new", :locals => {:phone => phone_data.phone, :type => "phone_popup"} %>