<div class="row-fluid">
	<div class="span2 brands-left-sidebar">	
	</div>
	
	<div class="span9 main-container">
		<%= render :partial => "shared/search_options" %>
		
		<div class="phones-grid">			
		</div>		
	</div>
</div>

