<%= form_for(Comment.new, :url => {:controller => "comments",:action => "create"}, :remote  => true) do |f| %>
  	<div class="control-group">
  		<div class="controls"><%= f.text_area :text, :placeholder => I18n.t("phones.add_comment_text"), :class => "comment-text", "data-toggle" => "tooltip", "title" => I18n.t("phones.new_line_shortcut") %></div>
  	</div> 
	<%= hidden_field_tag :phone_id, phone.id.to_s %>
<% end %>