var brands = $("<%= escape_javascript(render(:partial => 'shared/brands_sidebar', :locals => {:brands => @brands})) %>");
$(".brands-left-sidebar").html(brands);

$("#main_loading_phones").remove();
<% if @phones.length == 0 %>
$(".phones-grid").append("<div class='no-more-phones'>No more phones ...</div>");
<% else %>
var phones_grid_html = $("<%= escape_javascript(render(:partial => 'phones/phones_grid')) %>");
$(".phones-grid").css({"text-align" : "left", "padding-top" : 0});
$(".phones-grid").append(phones_grid_html);
<% end %>
