<ul class="nav nav-tabs nav-stacked main-brands-list">
	<% brands.each do |brand| %>
	<li><%= link_to(brand, params[:action].to_s == "show" ? brand_path(:brand => brand) : "#") %></li>
	<% end %>
</ul>
