<div id="ErrorPopup" class="modal hide fade">
  <div class="modal-body">
  	<p class="text-error">
  		There was an error. Please try later.
  	</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>