<div id="notAuthorizedPopup" class="modal hide fade">
  <div class="modal-body">
  	<p>
  		<%= I18n.t("unauthorized_access") %>
  		Molimo da se&nbsp;
  		<%= link_to(I18n.t("please_login"), new_account_session_path) %>
  		&nbsp;ili&nbsp;
  		<%= link_to(I18n.t("please_register"), register_path) %>
  	</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t("ok") %></button>
  </div>
</div>