<div class="row-fluid options-box">
	
	<div class="row-fluid">
		<div class="span9 btn-group sort-phones-by">
			<a id="date" class = "btn disabled" title="Sort by date"><i class="icon-arrow-down"></i>Date</a>
			<a id="relevance" class = "btn" title="Sort by relevance"><i class="icon-arrow-down"></i>Relevance</a>
			<a id="price" class = "btn" title="Sort by price"><i class="icon-arrow-up"></i>Price</a>
		</div>
		
		<div class="span2">
			<%= text_field_tag "search_term", "", :class => "input-medium", :placeholder => "Search for phones..." %>
		</div>
	</div>
	
	<a href="#" class="pull-left show-price-range">Filter by price range</a>
	<a href="#" class="pull-right show-all-phones"><i class="icon-repeat"></i>Show all</a>

	<div class="row-fluid">
		<div class="span9 price-range-wrapper alert">
			<a href="#" class="close" title="Hide price range">&times;</a>
			<div class="span11">
				<div id="price-slider"></div>
				<div class = "pull-left">
					<span class="price-from-text">0</span>
					<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
					<span class="price-to-text">0</span>
					<span>&nbsp;$</span>
				</div>
				<div class="pull-right">
					<a href="#" class="icon-ok-sign" id="apply_prices" title="Apply price range"></a>
				</div>
			</div>
			<%= hidden_field_tag("price_from", "") %>
			<%= hidden_field_tag("price_to", "") %>
		</div>
	</div>
	
</div>
