<div class="row-fluid">
	<div class="span2">
		<%= render :partial => "shared/brands_home", :locals => { :brands => @brands } %>
	</div>
	
	<div class="span9">
		<%= render :partial => "shared/phones_list_main", :locals => { :phones => @phones } %>
	</div>
</div>

