<div class="row-fluid">
	<div class="span2 brands-left-sidebar">
		<%= render :partial => "shared/brands_home", :locals => { :brands => @brands } %>
	</div>
	
	<div class="span9">
		<%= render :partial => "shared/search_options" %>
		
		<div class="phones-grid">
			<%= render :partial => "shared/phones_grid" %>
		</div>
		
	</div>
</div>

