<div class="row-fluid">
	<div class="span2">
		<%= render :partial => "shared/brands_home", :locals => { :brands => @home_info.brands } %>
	</div>
	
	<div class="span9">
		<%= render :partial => "shared/phones_list_main", :locals => { :phones => @home_info.latest_phones(@options) } %>
	</div>
</div>

