<div class="popover bottom">
	<h3 class="popover-title"><%= phone.name %></h3>
	<div class="popover-content">
		<dl class="dl-horizontal attributes_catalogue">
			<%= render :partial => "phone_details", :locals => {:phone => phone} %>
		</dl>
	</div>
</div>
