<% if prices_from_others.empty? %>
<p class="muted"><%= I18n.t("catalogues.no_prices_others") %></p>
<% else %>
<ul>
	<% prices_from_others.each do |price| %>
	<li><%= [price["provider_name"], price["price"]].join(" : ") %></li>
	<% end %>
</ul>
<% end %>
