<div class="row-fluid">
	<div class="span2">
		<%= link_to I18n.t("catalogues.add_phone"), new_catalogue_path, :remote => true, :class => "btn btn-success" %>
	</div>
	
	<div class="span9 catalogue-items">
		<% if @catalogue_phones.empty? %>
		<p class="muted catalogue-empty">
			<%= I18n.t("catalogues.catalogue_empty") %>
			<%= link_to I18n.t("catalogues.add_new"), new_catalogue_path, :remote => true %>
		</p>
		<% else %>
		<% @catalogue_phones.each do |catalogue_phone|  %>
			<%= render :partial => "catalogue_item", :locals => {:catalogue_phone => catalogue_phone, :my_item => @my_item} %>
		<% end %>
		<% end %>
	</div>
</div>