<div class="row-fluid">
	<div class="span2">
		<%= link_to "Add phone", new_catalogue_path, :remote => true, :class => "btn btn-success" %>
	</div>
	
	<div class="span9 catalogue-items">
		<% if @catalogue_phones.empty? %>
		<p class="muted">
			You don't have phones in your catalogue.
			<%= link_to "Click to add new", new_catalogue_path, :remote => true %>
		</p>
		<% else %>
		<% @catalogue_phones.each do |catalogue_phone|  %>
			<%= render :partial => "catalogue_item", :locals => {:catalogue_phone => catalogue_phone, :my_item => @my_item} %>
		<% end %>
		<% end %>
	</div>
</div>