form.remove-property {
  display: none;
  margin: 0;
}

form.add-property {
  margin: 0;
}

.account-attributes {
  td.update-attribute {
    width: 25%;
  }
  
  td.attribute-name {
    width: 25%
  }
}

.hidden {
  visibility: hidden;
}

.value-wrapper {
  margin-right: 10px;
}

form.change-password {
  display: inline-block;
  width: auto;
  label {
    display: inline-block;
    width: 150px;
  }
  
  input {
    display: inline-block;
  }
}

.settings-avatar-container {
  .avatar-wrapper {
    position: relative;
    
    img.account-settings-avatar {
      width: 128px;
    }
  
    .change-avatar {
      position: absolute;
      bottom: 5px;
      left: 10px;
      display: none;
    }
  }
  
  form.change-avatar-form {
    display: none;
  }
}
  

