.registration-header {
  padding-top: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

// .container-narrow {
  // width: 740px;
  // margin: 20px auto auto auto;
  // text-align: center;
// }

ul.reg-list {
   margin: 20px 0 10px 20px;
   min-height: 150px;
   
   li {
     margin-left: 10px;
     list-style-image: url("ok.jpg");
   }
}

.sign-up-btn {
  margin-left: 30px;
}

.container-register-step2 {
  width: 800px;
  margin: auto; 
  text-align: center;
}

form.lock_user {
  margin: 0;
}