form.remove-property {
  display: none;
  margin: 0;
}

form.add-property {
  margin: 0;
}

.account-attributes {
  td.update-attribute {
    width: 25%;
  }
  
  td.attribute-name {
    width: 25%
  }
}

.hidden {
  visibility: hidden;
}

.value-wrapper {
  margin-right: 10px;
}

form.change-password {
  margin: 10px 0 10px 10px;
  display: inline-block;
  width: auto;
  label {
    display: inline-block;
    width: 150px;
  }
  
  input {
    display: inline-block;
  }
}

.settings-avatar-container {
  .avatar-wrapper {
    position: relative;
    
    img.account-settings-avatar {
      width: 128px;
    }
  
    .change-avatar {
      position: absolute;
      bottom: 5px;
      left: 50%;
      display: none;
    }
    
    .icon-upload {
      // width: 28px;  // 14px * 2
      // height: 28px; // 14px * 2
      // background-size: 938px 318px;  // original dimensions * 2
      // background-position: -624px -48px;  // original position * 2
      // transform:scale(2.0,2.0);
      // -ms-transform:scale(2.0,2.0); /* IE 9 */
      // -moz-transform:scale(2.0,2.0); /* Firefox */
      // -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
      // -o-transform:scale(2.0,2.0); /* Opera */
    }
  }
  
  form.change-avatar-form {
    display: none;
  }
  
  #avatar {
    display: none;
  }
}

.register-form {
  label {
    display: inline-block;
    width: 150px;
  }
  
  input[type=text] {
    display: inline-block;
  }
}
  

