//moved from phone.css.scss - remove

// .attributes-list {
  // padding-top: 20px;
// }
// 
// .reviewer {
  // display: inline;
// }
// 
// .reviewer span {
  // font-size: 9pt;
// }
// 
// .phone-popup-main {
// 
// }


// 
// .brands-wrapper-import {
  // display: inline-block;
  // width: 200px;
// }
// 
// 
// .attr_main {
  // border-bottom: 1px solid #CCC;
//   
  // a:hover {
    // cursor: text;
  // }
//   
  // span {
    // display: inline-block;
  // }
//   
  // .attr_name {
    // width: 150px;
  // }
// }

form.add-phone {
  .control-label {
    display: inline-block;
    label {
      display: inline-block;
      width: 150px;
    } 
  }
  
  .controls {
    display: inline-block;
    div {
      display: inline-block;
      margin-right: 10px;
      label {
        display: inline;
        margin-right: 4px;
      }
    }
    input {
      display: inline-block;
    }
    
    input[type=checkbox] {
      margin-top: -3px;
    }
  }
}
