.phone-main {   
  width : 23.404255319148934%;
  float: left;
  min-height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0 1.595% 1.595% 0;
  padding: 10px 0 10px 0;
  .phone-details {
    text-align: center;
  }
  
  background: #FFF;
  
  .phone-title-main {
    height: 40px;
  }
}

.phone-img-main-wrapper {
  height: 64px;
  padding: 0;
  margin: 0;
  text-align: center;
  
  img {
    max-height: 64px;
    max-width: 64px;
  }
}

#user, #logged_out_user {
  display: none;
}

[class*=span]{
  -moz-box-sizing: border-box !important;
}

.align-center {
  padding: 0;
  margin: 0;
  text-align: center;
  
}

label[for=remember_me] {
  display: inline-block;
  width: 100px;
}

input[name=remember_me] {
  display: inline;
}


.login-form {
  div {
    label {
      display: inline;
    }
    input[type=checkbox] {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.field_with_errors {
  display: inline;
}

// clearfix
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.link-button {
  background: transparent;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.inline-form {
  padding: 0;
  margin: 0;
  display: inline;
  width: auto;
}

.reviewer {
  div {
    display: inline-block;
    padding-right: 8px;
    
  }
  
  .fa-thumbs-o-up.active {
    color: blue;
  }  
  .fa-thumbs-o-down.active {
    color: blue;
  }
  
  .fa-thumbs-o-up.inactive {
    color: #666;
  }  
  .fa-thumbs-o-down.inactive {
    color: #666;
  }
}