// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import 'bootstrap/css/bootstrap';
//@import 'bootstrap/css/bootstrap-responsive';

.container-narrow {
  width: 700px;
  margin: 20px auto auto auto;
  text-align: center;
}

.container-register-bottom {
  width: 600px;
  margin: auto;
}

.container-register-bottom .span3 {
  text-align: left;
}

.register p.lead {
  margin: 20px 0 50px 0;
}

.register .span3 p {
  margin-top: 20px;
}

.register .span3 ul {
  height: 130px;
}

.container-register-step2 {
  width: 800px;
  margin: auto; 
  text-align: center;
}

form.lock_user {
  margin: 0;
}

.phones-grid {
  .phone-main {   
    width : 23.404255319148934%;
    float: left;
    min-height: 30px;
    box-sizing: border-box;
    margin: 0 1.59% 1.59% 0;
    padding: 10px 0 20px 0;
    .phone-details {
      text-align: center;
    }
  }
}

.options-box {
  margin-bottom: 20px;
  form {
    margin: 0;
    
    .show-price-range:hover {
      cursor: pointer;
    }
   
    .price-range-wrapper {
     padding-top: 20px;
     display: none;
   }
  }
}

//slider
.ui-widget {
  font-size: .6em;
}

.ui-widget-header {
  background: #CCC;
}

#main_loading_phones {
  clear: both;
  display: block;
  margin-top: 30px;
}

.no-more-phones {
  clear: both;
  display: block;
  text-align: center;
}
