// body {
  // background-image: url("/assets/twitter_bg_clouds.jpg");
  // z-index: 10;
// }

.header-content {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
		
	.logo {
		font-size: 24px;
	}
	
	.main-nav {
	  i {
	    margin-right: 3px;
	  }
	}
	
	.fa-mobile, .fa-sign-in, .fa-user {
	  color: white;
	  font-size: 15px;
	}
}

.content {
  min-height: 600px;
  padding-left: 10px;
}

footer {
  text-align: center;
  margin-top: 70px;
  padding: 30px;
  
  background: #666;
  border-top: 2px solid #CCC;
}

.fa-users {
  font-size: 10pt;
}

