.messages-container {
  border-right: 1px solid #EEE;
  width: 320px;

  .search-sort {
     padding: 0 0 10px 0;
     border-bottom: 1px solid #EEE;
    .search-query {
      height: 20px;
      -webkit-border-radius: 10px;
      padding: 3px 5px 3px 5px;
      margin-right: 5px;
    }
  }
  
  .select-delete {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #EEE;
    .delete-messages {
      margin-right: 5px;
    }
  }
  
  .nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 15px;
  }
  
  .no-messages {
    padding: 10px;
  }
  
  .messages {
    .message {
      font-size: 9pt;
      border-bottom: 1px solid #CCC;
      img {
        vertical-align: text-top;
      }
      .text {
        a {
          color: #333;
        }
        a:hover {
          color: #333;
          text-decoration: none;
        }
      }
      .message-options {
        float: right;
        .remove-message {
          display: inline;
        }
        .select-message, .remove-message {
          display: none;
        }
        .icon-remove {
          border: none;
          margin: 3px 0 0 5px;
        }
      }
    }
    .message.unread {
      .text {
        font-weight: bold;
      }
    }
    .message:hover {
      background: #dff0d8;
    }
  }
    
}

textarea {
  min-width: 280px;
}

.conversation {
  
  .conversation-item {
    font-size: 9pt;
    .sender-avatar {
      vertical-align: text-top;
    }
    .sender-name {
      display: block;
    }
    .text {
      display: inline;
    }
    .date-sent {
      font-size: 8pt;
    }
    margin-bottom: 10px;
  }
  
  .conversation-item.my {
    .sender-avatar {
      float: left;
      margin-right: 5px;
    }
    .text, .sender-name {
      float: left;
    }
    .date-sent {
      text-align: left;
    }
  }
  
  .conversation-item.other {
    .sender-avatar {
      float: right;
      margin-left: 5px;
    }
    .text, .sender-name {
      float: right;
    }
    .date-sent {
      text-align: right;
    }
  }
  
  
}

