// Place all the styles related to the phone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.attributes-list {
  padding-top: 20px;
}

.reviewer {
  display: inline;
}

.reviewer span {
  font-size: 9pt;
}

.phone-popup-main {

}
 
.comments-list {
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 10px;
  .comment-item {
    background: #EEE;
    margin-bottom: 2px;
    padding: 3px;
    .comment-metas {
      border-right: 1px solid #CCC;
    }
  }
}

.comment-text {
  height: 100px;
  width: 95%;
}

.brands-wrapper-import {
  display: inline-block;
  width: 200px;
}

.phone-img-main-wrapper {
  height: 64px;
  padding: 0;
  margin: 0;
  text-align: center;
  
  img {
    max-height: 64px;
  }
}

.phone-img-main-wrapper img {
  max-width: 64px;
  max-height: 64px;
}

.align-center {
  padding: 0;
  margin: 0;
  text-align: center;
}

.align-center.phone-title-main {
  height: 40px;
}

.align-center.catalogue-phone-title {
  height: 40px;
  &:hover {
    cursor: pointer;
  }
}

.attr_main {
  border-bottom: 1px solid #CCC;
  
  a:hover {
    cursor: text;
  }
  
  span {
    display: inline-block;
  }
  
  .attr_name {
    width: 150px;
  }
}

.attributes_catalogue {
  .attribute_catalogue {
    font-size: 8pt;
    border-bottom: 1px solid #CCC;
  }
  dt {
    width: 100px;
    text-align: left;
  }
  dd {
    margin-left: 100px;
    text-align: left;
  }
}

.catalogue-item-main {
  .remove-item {
    border: none;
    float: right;
    //margin: -10px -10px 0 0;
  }
  
  .show-on-hover {
    visibility: hidden;
  }
  
  ul.prices-history-content > li {
    font-size : 8pt;
  }
  
  .catalogue-price {
    margin-left: 10px;
  }
  
  .catalogue-options {
    margin-right: 10px;
  }
}

.typeahead { z-index: 1051; }


///phone#show

.phone.show {
  padding-top: 0;
  .phone-details {
    margin-top: 0;
    padding-top: 0;
    .phone-info {
      margin-bottom: 20px;
      border-bottom: 1px solid #CCC;
      padding-bottom: 2px;
      
      .last-phone-offer:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      
      .last-offer small {
        font-size: 9pt;
      }
    }
    .phone-image {     
      img {
        vertical-align: text-top;
        min-width: 80px;
        min-height: 80px;
      }
    }
    
    .phone-attributes {
      .phone-attribute {
        padding: 2px 0 2px 0;
        border-bottom: 1px solid #CCC;
        span {
          min-height: 0;
        }
      }
      .phone-attribute:hover {
        background: #EEE;
      }
    }
  }
  .comment-count {
    display: block;
    margin-bottom: 10px;
  }
  .added-comment {
    border: "2px solid green";
  }
  .comment-text {
    height: 50px;
    font-size: 9pt;
  }
  .comment-item {
    border-bottom: 1px solid #CCC;
    .comment-meta {
      img {
        vertical-align: text-top;
      }
    }
    .comment-message {
      padding-left: 10px;
      background: #EEE;
      min-height: 40px;
    }
  }
  .comment-item:nth-child(1){
    border-top: 1px solid #CCC;
  }
}

.offer-count {
  display: block;
  margin-bottom: 10px;
}
.phone-right-sidebar {
  .offers {
    display: block;
    clear: both;
    .offer-item {
      display: block;
      height: 36px;
      margin-bottom: 5px;
      img {
        vertical-align: text-top;
      }
      .show-offer-details {
        display:block;
        clear: both;
        text-align: right;
        font-size: 9pt;
      }
    }
  }
  .offer-item:hover {
    background: #f5f5f5;
  }
}
