<%= render :partial => "shared/phone_review_main", :locals => {:phone => @phone} %>
<div id="reviewAdded" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="reviewAddedTitle" aria-hidden="true">
  <div class="modal-body">
    <p class="text-success">
    	Review added
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>