<footer>
	<!-- <div class="navbar" style="text-align: center;">&copy; Mobis 2012</div> -->
	<div class="container">
		<p class="muted">Designed and implemented by <%= link_to "Mobis", root_path %> 2013</p>
		<p class="muted">All right reserved</p>
	</div>
</footer>
